* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(50deg, #301a54 0%, rgba(115, 64, 143, 0.52) 100% );
    display: flex;
    gap: 20px;
    margin-bottom: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#painel {
    margin-bottom: 20px;
    
}

#cartao {

    width: 300px;
    height: auto;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

.controles {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 200px;
    margin: 0 auto;
}

input[type="color"],
input[type="range"],
input[type="text"] {
    width: 100%;
}

@media (max-width: 1024px) {
    .container {
        width: 80%;
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    #cartao {
        width: 80%;
        height: auto;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    body {
        height: auto;
        padding: 20px;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    #cartao {
        width: 100%;
        height: auto;
        padding: 10px;
        font-size: 14px;
    }

    .controles {
        width: 100%;
    }
}